/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Delius&family=Patrick+Hand&family=Yomogi&family=Warnes&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  margin-block: 0;
  box-sizing: border-box;
  /* border: 1px solid #F27272; */
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
/*////////////////////////////////////////////// General structure styles : body ~ footer   */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* PP2 styles */
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: normal;
  color: #594B46;
  background-color: #F2F2F2;
}

header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  background: #F2F2F2 url('../images/head-logo.png') center top/280px no-repeat;
  padding-bottom: 8px;
  z-index: 99;
}

main {
  margin-top: 135px;
  /* position: relative; */
  flex: 1 0 auto;
  background: url("../images/kaitenzushi1.webp") center top/400px no-repeat;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  text-align: center;
  z-index: -99;
}

footer li {
  margin-left: 1rem;
  margin-right: 1rem;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
/*////////////////////////////////////////////////////////////// Headings styles : h1 ~ h3  */
h2,
h3 {
  color: #594B46;
  font-family: "Caveat", cursive;
  font-weight: 700;
}

h1 {
  font-family: "Warnes", cursive;
  margin-top: 85px;
  margin-right: 2rem;
  font-size: 145%;
  letter-spacing: 2px;
  line-height: 90%;
}

h2 {
  font-size: 150%;
  margin: 0 auto;
}

h3 {
  color: #0D0D0D;
  line-height: 125%;
}

h4 {
  color: #F2F2F2;
  color: #8C8684;
  color: #F27272;
  color: #0D0D0D;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
/*//////////////////////////////////////////////////// Other general styles : a, li, input  */
a {
  color: #594B46;
  text-decoration: none;
}

a:visited {
  color: #594B46;
}

a:hover {
  color: #F27272;
  text-decoration: none;
}

button {
  padding: 5px;
  border-radius: 8px;
  font: inherit;
}

input {
  padding: 10px;
  border-radius: 8px;
}

li {
  list-style: none;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/*//////////////////////////// Nav dropdown toggle button - CodeInstitute learning material */
nav {
  display: none;
  position: absolute;
  top: 100%;
  right: 0%;
  padding: 1rem;
  background-color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #594B46;
  text-align: left;
}

#nav-toggle:checked~nav {
  display: block;
  color: #594B46;
}

.nav-toggle-label {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 1.8rem;
  padding-top: 80px;
  padding-right: 1.5rem;
  color: #594B46;
}

.nav-toggle-label:hover {
 color: #F27272;
}

#nav-toggle {
  display: none;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
/*/////////////////////////////////////////////////////////////////// Landing screen styles */
#landing {
  display: none;
  background-color: rgba(13, 13, 13, 0.7);
  padding-top: 30px;
  padding-bottom: 40px;
  margin-top: 220px;
}

#landing label {
  color: #F2F2F2;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
/*/////////////////////////////////////////////////////////////////// Setting screen styles */
#setting {
  display: none;
  margin: 0 auto;
  position: relative;
  top: -100px;
  background-color: rgba(242, 242, 242, 0.5);
}

#pink-box {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgba(242, 114, 114, .8);
  border-radius: 10px;
  color: #0D0D0D;
  padding: 20px 2rem;
  max-width: 350px;
  text-align: left;
  line-height: 130%;
  letter-spacing: 2px;
  margin: auto;
  margin-top: 100px;
}

#pink-box:first-child div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#pink-box>div>div {
  margin: 2px 5px;
}

#setting button {
  display: block;
  width: 100px;
  height: 40px;
  margin: auto;
  padding: 5px;
  line-height: 100%;
  letter-spacing: 3px;
  background-color: #0D0D0D;
  color: #F2F2F2;
}

#score {
  display: none;
  margin: 15px;
  padding-bottom: 100px;
}

.course {
  flex: 1 0 120px;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
/*////////////////////////////////////////////////////////////////////// Game screen styles */
#game {
  display: none;
  width: 100%;
  background: #F2F2F2 url(../images/kaitenzushi0.webp) center top/400px no-repeat;
}

#img-display {
  position: relative;
  min-height: 150px;
}

#game p {
  position: relative; 
  top: -30px;
  left: 45%;
  width: 100px;
  height: 30px;
  border: 1px solid red;
  z-index: 99;
  color: #F27272;
  font-weight: 600;
  font-size: 1.3rem;
}

#text-display {
  position: absolute;
  top: 45px;
  left: 15%;
  width: 100%;
  color: #F2F2F2;
  padding-top: 0.3rem;
  letter-spacing: 0.4rem;
  text-align: left;
}

#text-overlay {
  position: absolute;
  top: 45px;
  left: 15%;
  width: 100%;
  z-index: 99;
  color: #f0bc11;
  padding-top: 0.3rem;
  letter-spacing: 0.4rem;
  text-align: left;
}

#kana-display {
  position: absolute;
  top: 5px;
  left: 15%;
  width: 100%;
  color: #F2F2F2;
  padding-top: 0.8rem;
  text-align: left;
}

#kana-overlay {
  position: absolute;
  top: 5px;
  left: 15%;
  width: 100%;
  z-index: 99;
  color: #f0bc11;
  padding-top: 0.8rem;
  text-align: left;
}

#input {
  width: 100%;
  height: 100px;
  color: #0D0D0D;
  background-color: #F2F2F2;
  font-family: "cursive", cursive;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: normal;
  letter-spacing: 0.2rem;
  text-align: center;
}

.kana {
  font-family: "Yomogi", cursive;
  font-weight: 400;
  font-style: normal;
  text-orientation: sideways;
}

.game-display {
  height: 100px;
  background-color: rgb(13, 13, 13, .7);
}

.text-box {
  font-family: "Delius", cursive;
  display: block;
  position: relative;
  width: 150px;
  bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
/*////////////////////////////////////////////////////////////////////// Score display styles */
#score div {
  display: flex;
  justify-content: center;
}
#score p {
  padding: 0 1rem;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/*/////////////////////////////////////////////////////////// Footer and toggle menu styles */
#social-networks {
  display: block;
}

#social-networks li {
  display: inline-block;
}

#menu {
  font-size: 95%;
  letter-spacing: 2px;
  line-height: 155%;
}

/* Media query: General smart phone (390px and up) */
@media screen and (min-width:390px) {
  main {
    background-size: 500px;
  }
}

/* Media query: General smart phone (768px and up) */
@media screen and (min-width:768px) {
  header {
    max-width: 768px;
  }

  main {
    background-size: 600px;
  }

  #setting div:first-child {
    max-width: 500px;
  }
}

/* Media query: General smart phone (1024px and up) */
@media screen and (min-width:1024px) {
  #setting div:first-child {
    max-width: 550px;
  }
}

/* Media query: General smart phone (1440px and up) */
@media screen and (min-width:1024px) {
  #setting div:first-child {
    max-width: 600px;
  }
}