/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    margin-block: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-size: 1.3rem;
    font-style: normal;
    letter-spacing: 0.2rem;
}









/* Media query: General smart phone (390px and up) */
@media screen and (min-width:390px) {

}

/* Media query: General smart phone (768px and up) */
@media screen and (min-width:768px) {

}

/* Media query: General smart phone (1024px and up) */
@media screen and (min-width:1024px) {

}